body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(10deg, #023AFF, #0019FF);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container,
.register-container {
    background: #f7faffff;
    width: 350px;
    padding: 25px;
    padding-top:15px;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.8);
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #0019FF;
}
.form-group input{
    width: 94%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.2s;
}
.form-group select{
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.2s;
}
.form-group input:focus {
    border-color: #0019FF;
    outline: none;
}
.form-group select:focus {
    border-color: #0019FF;
    outline: none;
}
.btn {
    width: 100%;
    background: #0019FF;
    color: #f7faffff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}
.btn:hover {
    background: #000e88ff;
}
.link {
    text-decoration: none;
    color:#0f172a;
}
.link:hover {
    color: #0019FF;
    text-decoration: underline;
}
#logos {
        width: 200px;
        height: 110px;
        background: #0019FF;
        margin-bottom: 15px;
        overflow: hidden;         
        display: block;
        margin: auto;
        align-items: center;
        justify-content: center;
    }
#logos img {
    width: 100%;
    height: 100%;
    object-fit: cover;      
}
h5:hover {
    text-decoration: underline;
}